.form-horizontal .btn-primary {
    margin-right: 15px;
}
form legend, .checkbox > label {
    font-weight: bold;
}
.child_row > td {
    padding: 0px !important;
}
.child_row > td > table {
    margin: 0px;
}